
  <nav>
    
        <a class="btn btn-info" href="/create-blog" style="display:block">Add Tech Post</a>
        <br>
        <a class="btn btn-info" href="/edit-blog" style="display:block">Edit Tech Post</a>
        </nav>
{{#if posts}}
    {{#each posts as |post|}}
    <div class="row">
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    {{post.title}}
                </p>
                <a href="/blogpage.html"></a>
            </div>
            <div class="card-footer text-muted">
                <button id="delete-post-button">Delete</button>
            </div>
        </div>
    </div>

    {{/each}}
{{/if}}