<div class="row">
  <div class="card">
    <div class="card-header">{{title}}</div>
    <div class="card-body">
      <textarea name="editBlog" id="edit-blog-textarea" cols="30" rows="10">{{content}}</textarea>
    </div>
    <div class="card-footer text-muted">
      <button id="edit-blog-save-button" data-id="{{id}}"">Save Changes</button>
    </div>
  </div>

</div>
